.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.pdf
*.html
Homework_Day4_mascitti_problem2.py
Homework_Day4_mascitti_problem2_w_Haleigh.py
R_Homework_Day3_Mascitti-verbose.Rmd
*.PNG
*.png
*.jpg
*jpeg
*.JPEG
*.JPG

